* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--hue: 240;
	--primary-color: hsl(var(--hue), 6%, 21%);
	--secondary-color: hsl(0, 0%, 90%);
	--primary-color-background: hsl(var(--hue), 9%, 89%);
	--secondary-color-background: hsl(calc(var(--hue) - 46), 97%, 31%);

	font-size: 62.5%;
}

*::selection {
	color: none;
	background: transparent;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

button.hide {
	display: none;
}

main {
	height: 100vh;
	width: 100vw;
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 5rem;
}

.timer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.timer .time {
	font-family: 'Roboto', sans-serif;
	line-height: 16rem;
	font-size: 12rem;
	color: var(--primary-color);

	cursor: default;
}

.timer .buttons {
	display: flex;
	justify-content: center;
	gap: 4rem;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3.2rem;
}

.cards .card {
	width: 13rem;
	height: 14rem;
	display: flex;
	justify-content: center;

	border-radius: 2.4rem;
	background-color: var(--primary-color-background);

	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cards .card.active {
	background-color: var(--secondary-color-background);
	box-shadow: hsla(var(--hue), 30%, 28%, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cards .card.active path {
	fill: var(--secondary-color);
}

@media (min-width: 850px) {
	main {
		flex-direction: row;
		gap: 10vw;
	}
}
